*{
    margin: 0;
    padding: 0;
}
main{
    margin: auto;
    margin-top: 200px;
    width: 50%;
    text-align: center;
}

.text{
    margin: 30px;
}

input{
    margin: 30px;
    width: 90%;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    color: gray;
}

.bar{
    margin: 20px;
    height: 20px;
    width: 50%;
    border: solid 2px rgb(158, 158, 158);
    margin: auto;
}
.bar div{
    margin: 3px;
    height: 14px;
}
.bar .progress{
    margin: 0%;
    background-color: orange;
}

.clear{
    color: rgb(31, 191, 212);
    font-size: 2rem;
}

.button{
    margin: 60px auto 0 auto;
    line-height: 60px;
    width: 100px;
    height: 60px;
    background-color: rgb(126, 184, 218);
    text-decoration: none;
}